<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
      <title><%- title %></title>
      <link rel="stylesheet" href="/sandstone.css">
  </head>
  <body>
      <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.3/build/styles/default.min.css">
      <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.3/build/highlight.min.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
      <div class="container">
        <%- markdown %>
      </div>
    </div>
  </body>
</html>
